fastapi
uvicorn
pymongo
python-dotenv
passlib
bcrypt
python-jose
authlib
google-auth
requests
motor
email-validator
sendgrid
langchain
langchain-groq
langchain-community
boto3
bandit
beautifulsoup4
zaproxy
scikit-learn
pandas
docker
neo4j
langchain-neo4j
langchain-core
langchain-huggingface
pyngrok

