@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    /* #FCFCFC */
    --foreground: 222 47% 11%;
    /* Dark blue-ish black */
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 120 100% 31%;
    /* #009C00 */
    --primary-foreground: 0 0% 99%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;
    --accent: 120 20% 90%;
    --accent-foreground: 120 100% 31%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 137 0% 99%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 120 100% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%;
    /* #0A0A0A */
    --foreground: 137 0% 99%;
    /* #FCFCFC */
    --card: 0 0% 6%;
    --card-foreground: 137 0% 99%;
    --popover: 0 0% 6%;
    --popover-foreground: 137 0% 99%;
    --primary: 120 100% 31%;
    /* #009C00 */
    --primary-foreground: 137 0% 99%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 137 0% 99%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 120 100% 31%;
    --accent-foreground: 137 0% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 137 0% 99%;
    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 120 100% 31%;
  }

  .theme {
    --font-sans: 'Inter Variable', sans-serif
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}